<template>
    <div class="small-button">
        <div>I am a small button.</div>
        <button>{{ label }}</button>
    </div>
</template>

<script lang="ts" src="./SmallButton.ts"/>

<style scoped>
    .small-button button {
        height: 1em;
        font-size: 0.9em;
    }
</style>
