<template>
    <div class="big-button">
        <div>I am a big button.</div>
        <button>{{ label }}</button>
    </div>
</template>

<script lang="ts" src="./BigButton.ts"/>

<style scoped>
    .big-button button {
        height: 3em;
        font-weight: bold;
        font-size: 2em;
    }
</style>
