<template>
  <div class="step-one">
    <h2>STEP ONE</h2>
    <BigButton></BigButton>
    <div>
      {{ formattedDateTime() }}
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { BigButton } from '@/libs/ui-elements';
import { getFormattedDateTime } from '@/libs/helpers';

export default defineComponent({
  name: 'StepOneView',
  components: {
    BigButton,
  },
  methods: {
    formattedDateTime(): string {
      return getFormattedDateTime('2021-12-24', '21:34:55');
    },
  },
});
</script>
